alias va='vi ~/.aliases'
alias sa='source ~/.aliases'
alias h='history'
alias c='clear'
alias less='less -isC'
alias lth='ls -ltah --color |head'
alias lr='ls -ltrha --color'
alias lt='ls -ltha --color'
alias p='readlink -f \!*'
alias v='vi'
alias e='vi'
